/*--| Font setup |--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--| variables setup |--*/
:root {
  --primary: #828FFF;
  --primary-dark: #5963c5;
  --black: #18181a;
  --gray-1: #d3d4db;
  --gray-2: #788190;
  --white: #f5f5f5;
  --btn-transition: .15s;
  --btn-scale: 1.025;
  --background: #161618;
  --card-background: rgba(255, 255, 255, 0.06);
  --transition: background-color 0.20s ease-in-out;
  --border: 2px solid var(--primary);
  --radius: 11px;
  --border-grey:4px solid #646464;
  --section-background: #1d1d1d;
}

/*--| Reset |--*/
* {
  margin: 0;
  padding: 0;  
  font-family: 'Poppins', sans-serif;   
  color: #FFF;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

/*--| Setup components |--*/

/* Scrool bar */
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);

}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* inputs */
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  color: #CACACA;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating label:after{
  background-color: var(--background)!important;
  color: #CACACA!important;
}

.form-control {
  border-radius: 8px;
  border: var(--border);
  background: var(--background)!important;
  padding: 15px 10px;
  color: #FFF!important;
  font-weight: 500;
}

.form-control::placeholder{
  color: #ffffff85!important;
  font-weight: 6700;
}

.form-control:focus {
  border-color: var(--primary); 
  box-shadow: 0px 0px 18.6px 0px var(--primary);
}

textarea.form-control{
  min-height: 180px!important;
}

textarea::-webkit-scrollbar {
  width: 0.3em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

/* buttons */
.btn {
  border-radius: 8px;
}

.btn-primary, .btn-secondary, .btn-outline-secondary, .btn-outline-dark{
  padding: 12px 28px;
}

.btn-primary {
  background-color: var(--primary)!important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));
}

.btn-outline-secondary{ 
  background-color: var(--purple)!important;
  border: none;
  color: var(--white)!important;
}

.btn-secondary{ 
  background-color: var(--white)!important;
  border: none;
  color: var(--black)!important;
}

.btn-outline-dark{ 
  border: 1px solid var(--gray-2);
  color: var(--white)!important;
}

.btn-outline-secondary:hover{ 
  background-color: var(--purple-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-secondary:hover{ 
  background-color: var(--gray-1)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-outline-secondary:focus{ 
  background-color: var(--purple-dark);
}

/*===== Landing Page =====*/
/*--| Navbar |--*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar.bg-dark{
  background-color: var(--background)!important;
  border-bottom: 0.1px solid #78819054;
}
.nav
.navbar .btn-outline-dark {
  border: 1px solid var(--gray-2);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
}

.navbar {
  padding: 20px 0;
}

.navbar-collapse .nav-link {
  margin-left: 41px;
  font-size: 16px;
  color: var(--gray-1);
}

.navbar-collapse .nav-link:hover {
  transition: var(--btn-transition) ;
  color: var(--white);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--gray-1);
}

section{
  margin: 200px 0px;
}

section:first-of-type {
  margin: 50px 0px;
}

section:first-of-type {
  margin: 50px 0px;
}

/*--| Hero Section |--*/
section.hero .titulo {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 119.5%;
}

section.hero .subtitulo {
  font-size: 25px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  section.hero .titulo {
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 119.5%;
  }
  
  section.hero .subtitulo {
    font-size: 20px;
    text-align: justify;
  }
  
  section.hero .buttons-group{
    flex-direction: column;
  }
}

section.hero .text-group span{
  color: var(--primary);
}

/*--| Hero Section |--*/
section.mockup {
  margin-top: 80px;
}

section.mockup img{
  box-shadow: 0px 0px 80px 5px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px){
  section{
    margin: 100px 0px;
  }
  
  section:first-of-type {
    margin-top: 70px!important;
  }
}

/*--| Responsive section |--*/
@media (max-width: 991px){
  /*--| Navbar |--*/
   .navbar-nav{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .navbar-collapse .nav-link {
      margin-left: 0px!important;
      margin-right: 0px!important;
      text-align: center;
      font-size: 17px;
 
   }
 
   .navbar .btn-outline-dark {
      font-weight: 600;
      font-size: 17px;
      padding: 15px 30px;
      margin-top: 13px;
   }
 
   .buttons .btn{
     width: 100%;
     display: block;
     margin: 1rem 0;
   }
 
   .buttons .ms-3{
     margin-left: 0!important;
   }
 }

@media (max-width: 576px){

  /*--| Navbar |--*/
  .navbar  {
    padding: 20px 0px;
  }

  .nav-link {
    margin-left: 0px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var();
  }
 
  .buttons .btn{
    width: 100%;
    display: block;
    margin: 1rem 0;
  }

  .buttons .ms-3{
    margin-left: 0!important;
  }
}

section.sobre{
  background-color: var(--section-background);
  padding: 50px 0px;
}
section.sobre h2.subtitulo{
  font-size: 23px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 160%; 
}

section.sobre svg{
  width: 100%;
}

@media screen and (max-width: 1200px) {
  section.sobre .row {
    display: flex;
    flex-direction: column-reverse;
  }
}


/* Partes do Hellow World/Alterar */
section .section-head {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

section .section-head h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; 
  margin-bottom: 30px;
}

section .section-head h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  section .section-head {
    margin-bottom: 10px;
  }
  
  section .section-head h1 {
    font-size: 36px!important;
    margin-bottom: 20px;
  }
  
  section .section-head h2 {
    font-size: 20px;
    text-align: justify;
    line-height: 160%;
  }
}

section .section-head h1 span{
  color: var(--primary);
}

section.recursos .cardRecursos {
  padding: 32px 10px;
  background-color:var(--card-background);
  border: 3px solid rgba(255, 255, 255, 0.34);
  border-radius: var(--radius);
  max-width: auto;

}

section.recursos .cardRecursos:hover{
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px var(--primary-dark);
  border: 4px solid var(--primary-dark);
}

section.recursos .cardRecursos .icon{
  font-size: 100px;
  color: var(--primary);
}

section.recursos .cardRecursos .titulo{
  opacity: 0.6;
  border: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  margin-bottom: 11px;
}

section.recursos .cardRecursos .subtitulo{
  opacity: 0.9;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  letter-spacing: 0.14px;
  min-height: 96px;
  max-height: 96px;
}

/* montando Section */
section.montando h2.subtitulo{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
}
section.montando img{
  width: 100%;
  box-shadow: 0px 0px 80px 5px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1200px) {
  section.montando .row {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* cursos Section */
section.cursos div.words {
  padding: 0px 50px;
}
  
section.cursos h2.subtitulo{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

section.cursos img{
  width: 100%;
  box-shadow: 0px 0px 80px 5px rgba(255, 255, 255, 0.1);
}

/* vagas Section */
section.vagas-recentes{
  background-color: var(--section-background);
  padding: 80px 0px 100px 0px; 
}

section.vagas-recentes .jobs-container .job-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 22px;
  border-radius: 11px;
  border: 3px solid rgba(255, 255, 255, 0.34);
  background-color: var(--card-background);
  transition: filter 0.3s ease;
}

section.vagas-recentes .jobs-container .job-card:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  border: 3px solid var(--primary-dark);
  box-shadow: 0px 0px 27.3px 0px var(--primary-dark);
}

section.vagas-recentes .job-card .job-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 17px;
}

section.vagas-recentes .job-card .job-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  opacity: 0.8;
  display: -webkit-box;
  overflow: hidden;
  max-height: 231px;
  min-height:  231px;
  word-break: break-all;
  margin-bottom: 17px;
}

section.vagas-recentes .job-card .job-details .row>.col-auto{
  padding-right: 0!important;
}

section.vagas-recentes .job-card .job-details p{
  margin-bottom: 0px!important;
}

section.vagas-recentes .job-card .job-details .company-details .logo-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #40465A;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.vagas-recentes .job-card .job-details .company-details .logo-container img  {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

section.vagas-recentes .job-card .job-details .company-details .company-name {
  font-weight: 500;
}

section.vagas-recentes .job-card .job-details .company-details .location {
  font-size: 16px;
  font-weight: 400;
}

section.vagas-recentes .job-card .job-details .company-details .location i{
  color: var(--primary);
}

section.vagas-recentes .job-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: rgba(255, 32, 110, 0.050);
  opacity: 0;
  transition: opacity .2s; 
}

section.atualizacoes .titulo {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

section.atualizacoes .subtitulo {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  margin-bottom: 50px;
}

section.atualizacoes .text-group span{
  color: var(--primary);
}

section.faq{
  background-color: var(--section-background);
  padding: 80px 0px 100px 0px;
}

.accordion.custom .accordion-item {
  background-color: #575757!important; 
  border: none; 
  border-radius: 8px; 
  margin-bottom: 15px; 
  font-size: 18px;
}

.accordion.custom .accordion-button {
  color: var(--white);
  background-color: var(--card-background);
  padding: 25px 15px;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
  border-radius: 8px;
  font-size: 18px;
}

.accordion-button::after {
  filter: invert(1)
}

.accordion.custom .accordion-button:hover {
  background-color: #747474; 
}

.accordion.custom .accordion-button.collapsed {
  background-color: #383838; 
  color:  var(--white); 
}

.accordion.custom .accordion-body {
  padding: 15px;
}

footer{
  padding: 30px 0px;
}

footer .list-inline a{
  color: var(--primary);
}

/*===== Auth =====*/
.main-login {
  background: var(--background);
}
/* Rectangle 1 */

.card-login-register {
  width: 550px;
  border-radius: 30px;
  border: 2px solid var(--primary-dark);
  background: rgba(100, 100, 100, 0.13);
  box-shadow: 0px 4px 56px 0px rgba(4, 32, 107, 0.267);
}

.card-login {
  padding: 40px 30px;
}

.card-register {
  padding: 35px 42px;
}

.card-login-register>div {
  width: 100%;
}

.card-login-register>.brand>img {
  width: 50px;
  margin-right: 10px;
}

.card-login-register>.brand>h3 {
  color: var(--white);
  font-size: 40px;
  font-weight: 600;
  margin: 0 !important;
}

.card-login-register>.form {
  margin-top: 50px;
  width: 100%;
}

.form>.form-group>label {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
}

.form-group>.alert {
  background-color: var(--primary-dark);
  color: var(--white);
  font-size: 15px;
  padding: .5rem .5rem;
  border: none;
  border-radius: 0;
}

.form>.form-group>.input-icon {
  position: absolute;
  z-index: 2;
  height: 2.5rem;
  line-height: 3.7rem;
  margin-left: 10px;
  text-align: center;
  color: var(--white);
  font-size: 22px;
  transition: color 0.3s ease-in-out;
}

.form>.form-group>.form-control {
  position: relative;
  height: 60px;
  padding: 10px;
  font-size: 18px;
  border-color: transparent;
  box-shadow: none;
  background-color: #1616188c!important;
  border: 2px #92929228 solid;
  border-radius: 10px;
  color: var(--white);
  padding-left: calc(2rem + 10px);
  transition: border-color 0.3s linear;
}

.form>.form-group>.form-control[type="password"]:not(:placeholder-shown) {
  padding-top: 15px;
}

.form>.form-group>.form-control:focus {
  border-color: var(--primary);
}

.form>.form-group>.form-control:focus-within .input-icon {
  color: var(--primary);
}

.form>.form-group>.form-control::placeholder {
  color: var(--gray);
}

.form .form-group:focus-within .input-icon {
  color: var(--primary);
}

.form-group>.alert {
  background-color: var(--primary-dark);
  color: var(--white);
  font-size: 15px;
  padding: .5rem .5rem;
  border: none;
  border-radius: 0;
}

.form>div>.form-check>.form-check-label {
  color: var(--white);
  font-size: 14px;
  font-weight: 300;
}

.form>div>.form-check>.form-check-input:checked {
  background-color: var(--primary);
  border: none;
}

.form>div>.forgot-password>a {
  color: var(--white);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  transition: var(--transition-text);
}

.form>div>.forgot-password>a:hover {
  color: var(--gray);
}

.card-login .form-buttons {
  margin-top: 20px;
}

.card-register .form-buttons {
  margin-top: 30px;
}

.form-buttons>.btn-login,
.form-buttons>.btn-google,
.form-buttons>.btn-register {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 0px;
  font-weight: 500;
  color: var(--white);
  outline: none;
  border: none;
  transition: var(--transition-btn);
}

.form-buttons>.btn-login,
.form-buttons>.btn-register {
  background-color: var(--primary);
  font-size: 17px;
}

.form-buttons>.divider {
  background-color: #E5E5E5;
  margin: 25px 0px;
}

.form-buttons>.btn-google {
  background: var(--background);
  font-size: 16px;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

.form-buttons>.btn-google>img {
  margin-right: 5px;
}

.form-buttons>.btn-login:hover,
.form-buttons>.btn-register:hover {
  transition: var(--transition-btn);
  background-color: var(--primary-dark);
}

.form-buttons>.btn-google:hover {
  transition: var(--transition-btn);
  opacity: 0.8;
}

.card-login-register>.sign-up>p,
a,
.sign-in>p,
a {
  font-size: 16px;
  margin: 0;
}

.card-login-register>.sign-up>p,
.sign-in>p {
  color: var(--white);
}

.card-login-register>.sign-up>a,
.sign-in a {
  color: var(--primary);
  transition: var(--transition-text);
}

.card-login-register>.sign-up>a:hover,
.sign-in a:hover {
  color: var(--primary-dark);
}

@media (max-width: 768px) {
  .main-login>.row>.col-lg-12 {
      align-items: start !important;
      margin-top: 30px;
  }

  .card-login,
  .card-register {
      padding: 30px 20px;
  }

  .form>.form-buttons>button {
      height: 45px;
      font-size: 14px;
      padding: 10px 0px;
  }

  .form>.form-buttons>.btn-google {
      font-size: 13px;
  }

  .card-login-register>.sign-up>p,
  .sign-in>p,
  .card-login-register>.sign-up>a,
  .sign-in>a {
      font-size: 15px;
  }
}

@media (max-width: 410px) {
  .card-login-register>.brand>img {
    width: 40px;
    margin-right: 10px;
  }
  
  .card-login-register>.brand>h3 {
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
    margin: 0 !important;
  }
}

:root {
  --sidebar-background: var(--section-background);
  --header-background: var(--section-background);
  --transition-text: color 0.1s ease-in-out;
  --transition-btn: background 0.25s ease-in-out;
  --fixed-border: #7676762b 1px solid;
  --header-height: 3.5rem;
  --nav-width: 219px;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
  --fixed-bottom-btn-color: #b6b6b66e;
}

/*===== Blade Layout =====*/
.main-page {
  margin: var(--header-height) 0 0 0;
  min-height: calc(100vh - var(--header-height));
  position: relative;
}

.main-page.blur>*:not(.preloader) {
  transition: .7s;
  pointer-events: none;
  z-index: 3;
  filter: blur(3px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-background);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
  border-bottom: #78819054 1px solid;
}

.header-container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header-container a {
  color: var(--black);
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
}

.current-page {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.header-icon,
.header-toggle {
  font-size: 30px;
  line-height: 0px;
}

.header-toggle {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100% !important;
  padding: 1rem 1rem 0;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: width .7s, left .7s;
  background: var(--sidebar-background);
  border-right: #ffffff2b 1px solid;
}

.sidebar .nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
}

.nav-container::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-container .nav-logo {
  margin-bottom: 2.5rem;
}

.sidebar .nav-container .nav-brand {
  width: 19px;
}

.sidebar .nav-container .nav-logo span {
  font-weight: 500;
  margin-left: 5px;
  font-size: 19px;
  white-space: nowrap;
}

.sidebar .nav-container .nav-list,
.nav-items {
  display: grid;
}

.sidebar .nav-container .nav-list {
  row-gap: 2.5rem;
}

.sidebar .nav-container .nav-items {
  row-gap: 1.5rem;
}

.sidebar .nav-container .nav-subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--subtitle-color);
}

.sidebar .nav-container .nav-link {
  display: flex;
  align-items: center;
}

.sidebar .nav-container .nav-link:hover>* {
  color: var(--primary-dark)!important;
  transition: var(--transition-text) !important;
}

.sidebar .nav-container .nav-dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

.sidebar .nav-container .nav-dropdown-collapse:hover .nav-dropdown-icon {
  transform: rotate(180deg);
}

.sidebar .nav-container .nav-dropdown-collapse:hover .nav-link {
  color: var(--primary);
  transition: var(--transition-text) !important;
}

.sidebar .nav-container .list-group {
  max-height: 0;
  max-width: 125.2px !important;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.3s ease, opacity 0.5s ease, visibility 0s linear 0.3s;
}

.sidebar .nav-container .nav-link-collapse:hover+.list-group,
.list-group:hover {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

.sidebar .nav-container .list-group-item,
.no-notes {
  color: var(--black);
  font-size: 12px;
}

.sidebar .nav-container .list-group-item {
  background-color: transparent !important;
  border: 1px solid var(--fixed-bottom-btn-color);
}

.sidebar .nav-container .list-group-item a {
  text-decoration: none;
  font-size: 13px;
  color: var(--black);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .nav-container .list-group-item a:hover {
  transition: color 0.3s;
  color: var(--primary);
}

.sidebar .nav-container .list-group .btn {
  margin: 0px;
  color: var(--black);
  border-radius: 4px;
  border: 1px solid var(--fixed-bottom-btn-color);
}

.sidebar .nav-container .list-group .btn:hover {
  color: white;
  background-color: var(--primary);
}

.sidebar .nav-container .nav-icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.sidebar .nav-container .nav-name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.sidebar .nav-container .nav-dark-mode-toggle>* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sidebar .nav-container .nav-logout {
  margin-top: 1.5rem;
}

.show-menu {
  left: 0;
}

.sidebar .nav-container .active {
  color: var(--primary);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main-page {
      margin: var(--header-height) 0 0 0;
      min-height: calc(100vh - calc(var(--header-height) + .5rem));
  }

  body>.start-page {
      padding: 0.39rem 0rem 0 4.2rem;
  }

  .header {
      padding: 0 3rem 0 6rem;
  }

  .header-container {
      height: calc(var(--header-height) + .5rem);
  }

  .header-toggle {
      display: none;
  }

  .current-page {
      font-weight: 500;
      font-size: 19px;
      text-decoration: none;
  }

  .sidebar {
      left: 0;
      padding: 1.2rem 1.5rem 0;
      width: 68px;
  }

  .sidebar .nav-container  .nav-items {
      row-gap: 1.7rem;
  }

  .sidebar .nav-container .nav-icon {
      font-size: 1.3rem;
  }

  .nav-logo-name,
  .nav-name,
  .nav-subtitle,
  .nav-dropdown-icon {
      opacity: 0;
      transition: opacity .5s;
  }

  .sidebar .nav-container  .list-group {
      max-width: 170px !important;
  }


  .sidebar:hover {
      width: var(--nav-width);
  }

  .sidebar:hover .nav-logo-name {
      opacity: 1;
  }

  .sidebar:hover .nav-subtitle {
      opacity: 1;
  }

  .sidebar:hover .nav-name {
      opacity: 1;
  }

  .sidebar:hover .nav-dropdown-icon {
      opacity: 1;
  }
}

/*===== View Curriculo =====*/
section.gerador{
  margin: 50px 0px;
}

section.gerador #picture-input {
  display: none;
}

section.gerador .picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 189.99px;
  aspect-ratio: 16/9;
  border: var(--border);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--background);
}

section.gerador .picture:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 20px 0px var(--primary-dark);
}

section.gerador .picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

section.gerador .picture-img {
  padding: 15px;
  max-width: 100%;
  max-height: 189.99px;
}

/*===== View Vagas =====*/
section.BuscarVagas{
  margin: 50px 0px;
}

section.BuscarVagas div.CardAreas{
  background-color: var(--card-background);
  padding: 32px 20px;
  max-height: 170px;
  min-height: 170px;
  align-items: center;
  border-radius: var(--radius);
  border: var(--border-grey);
  gap: 10px;
}

section.BuscarVagas div.CardAreas div.text-group h2{
  font-size: 21px;
  font-weight: 700;
}

section.BuscarVagas div.CardAreas div.text-group p{
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 0!important;
}

section.BuscarVagas div.CardAreas:hover{
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px var(--primary-dark);
  border: 4px solid var(--primary-dark);
}

@media screen and (max-width: 1399px){
  section.BuscarVagas div.CardAreas div.text-group h2{
    font-size: 18px;
  }
}

section.BuscarVagas .jobs-container{
  margin-top: 120px;
  margin-bottom: 15px;
}

section.BuscarVagas .jobs-container .job-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 22px;
  border-radius: 11px;
  border: var(--border-grey);
  background-color: var(--card-background);
  transition: filter 0.3s ease;
}

section.BuscarVagas .jobs-container .job-card:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px var(--primary-dark);
  border: 4px solid var(--primary-dark);
}

section.BuscarVagas .job-card .job-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 17px;
}

section.BuscarVagas .job-card .job-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  opacity: 0.8;
  display: -webkit-box;
  overflow: hidden;
  max-height: 231px;
  min-height:  231px;
  word-break: break-all;
  margin-bottom: 17px;
}

section.BuscarVagas .job-card .job-details .row>.col-auto{
  padding-right: 0!important;
}

section.BuscarVagas .job-card .job-details p{
  margin-bottom: 0px!important;
}

section.BuscarVagas .job-card .job-details .company-details .logo-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #40465A;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.BuscarVagas .job-card .job-details .company-details .logo-container img  {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

section.BuscarVagas .job-card .job-details .company-details .company-name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

section.BuscarVagas .job-card .job-details .company-details .location {
  font-size: 16px;
  font-weight: 400;
}

section.BuscarVagas .job-card .job-details .company-details .location i{
  color: var(--primary);
}

section.BuscarVagas .job-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background-color: var(--card-background);
  opacity: 0;
  transition: opacity .2s;
}

section.BuscarVagas .job-card:hover .job-overlay {
  opacity: 1;
}